{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-8">Welcome</h1>
    <hr class="my-8">
    <p class="lead">
        <ul>
            <li><a class="btn btn-outline-info" role="button" href="/fishes">Fishes</a></li>
            <li><a class="btn btn-outline-info" role="button" href="/fossils">Fossils</a></li>
            <li><a class="btn btn-outline-info" role="button" href="/bugs">Bugs</a></li>
            <li><a class="btn btn-outline-info" role="button" href="/sea_creatures">Sea Creatures</a></li>
        </ul>
    </p>
</div>
{% endblock %}

